.row
  .col-md-12
    = render 'office_automation_employee/shared/flash'
    .panel.panel-default
      .panel-heading
        .row
          .col-md-4
            %strong Companies
      .panel-body
        .col-md-15
          = render partial: "office_automation_employee/companies/companies_list", locals: { companies: @company }
