.row
  .col-md-12
    = render 'office_automation_employee/shared/flash'
    .panel.panel-default
      .panel-heading
        .row
          .col-md-4
            %strong Companies
      .panel-body
        .col-md-15
          = @company.count.zero? ? content_tag(:center, content_tag(:strong, "No entries to show")) :  render(partial: "office_automation_employee/companies/companies_list", locals: { companies: @company })
