- if attachment.persisted?
  .form-group
    %span.glyphicon.glyphicon-file
      = link_to File.basename("#{attachment.document_url}"), attachment.document_url, data: { :colorbox => true, :colorbox_height => '680px', :colorbox_width => '700px', :colorbox_iframe => true }
      = link_to "", company_user_attachment_path(@user.company, @user, attachment._id), data: {confirm: 'Are you sure?'} , method: :delete,class: "glyphicon glyphicon-trash"
      = link_to "", download_document_company_user_attachment_path(@user.company, @user, attachment._id), class: "glyphicon glyphicon-download"
