$(".custom-alert").html("#{escape_javascript(render(partial: "office_automation_employee/shared/flash", locals: {flash: flash}))}")
$("#change_password").html("#{escape_javascript(render(partial: "office_automation_employee/devise/registrations/edit", locals: {user: @user}))}")
