- flash.each do |name, msg|
  - case name
    - when :success
      .alert.alert-success
        = msg
    - when :danger
      .alert.alert-danger
        = msg
    - when :alert
      .alert.alert-danger
        = msg
    - when :notice
      .alert.alert-info
        = msg
