.modal.fade#helpCSV{ role: "dialog", tabindex: -1, "aria-hidden" => "true" }
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{ "data-dismiss" => "modal" }x
        %strong Format of CSV file
      .modal-body 
        %div 
          %strong
            File must contain header as 
            %code email,roles
        %div 
          %strong
            Email and roles must be separated with 
            %code ,
        .well.well-sm
          %code
            %div email,roles
            %div admin@gmail.com,admin
            %div hr@yahoo.com,hr
            %div accountant@hotmail.com,accountant
      .modal-footer
        = f.input :csv_file, as: :file, label: false
